{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<form action="/about" method="get">
  <div class="container p-3 shadow rounded-3">
    <h2 class="darkBlue">About Carbon Tracker</h2>
    <!--Person Walking in the desert by Walid Ahmaad from Pexels https://www.pexels.com/photo/person-walking-on-desert-847400/ -->
    <img class="img-fluid rounded-2" src="/static/person_walking_desert.jpg" width="600" alt="green island in the ocean"/>
    </br>
    <div class="card body rounded-2 shadow p-3 border-0 m-2">
<p>At Carbon Tracker our goal is to help you leave behind only the things you're proud of</p>
<p>Being human means coming to terms with the impact we put on the planet. Most carbon trackers make you feel guilty, or ask you to pay money for offsets</p>
<p>Not here. At Carbon Tracker we recognized that better behavior is built with positive reinforcement and a sense of community. If we're going to fight climate change we need to work together as a team</p>
<p>Carbon Tracker helps you monitor your carboon footprint, and suggests easy things you can do to minimize or offset your footprint, while also helping you save money and build an even healthier lifestyle</p>
</div>
<button class="btn btn-dark m-2 p-3">Get Started Today</button>
</div>
</form>
</div>
</br>
<div class="container text-center">
<div class="card body rounded-2 shadow grey p-3 border-0">
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>The What</h3>
              <p class="card-text">This is my Harvard EdX CS50 Final project. For those unfamiliar, CS50 is an open Harvard course on the introduction to the intellectual enterprises of computer science and the art of programming. The goal was simple, to build something of interest to solve a real life problem that could have a postive impact on the community or even change the world.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>The Why</h3>
              <p class="card-text">One of the greatest threats facing humanity is climate change. If we work together we can overcome it. I built Carbon Tracker to make it easy for people not only to track their carbon footprint, but to provide them with easy ways to offset their carbon, and make it engaging, fun, and even a little competitive. Carbon tracker is not designed to make you feel guilty, it's designed to make you feel proud.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>The Who</h3>
              <p class="card-text">This project was built by Bianca Silva, a half German, half Portuguese, South African living in San Francisco. My background is in journalism and marketing, and I have an MA in International Relations and Economics from the Johns Hopkins School of Advanced International Studies (SAIS). Throughout my career I have tried to build solutions to problems. All of them flopped. But now I can program.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>The How</h3>
              <p class="card-text">This is a flask web app wireframed on Figma, built in python and javascript, the database was built on sqlite and then transferred to PostGres and deployed on Heroku. I have used HTML, and CSS with Bootstrap and Jinja2 templating. I have incorporated two open APIs from <a href=https://www.climatiq.io/docs  target="_blank">Climatiq</a>, and <a href="https://docs.carboninterface.com/#/?id=getting-started" target="_blank">Carbon Interface.</a> I have based my research off the <a href="https://climateknowledgeportal.worldbank.org/country/united-states" target="_blank">World Bank Climate Change Knowledge Portal</a> and the <a href="https://www.epa.gov/developers/data-data-products-my-environment-widget" target="_blank">Environmental Protection Agency</a></p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>The When</h3>
              <p class="card-text">This project was started on 21 September, conceptualized, researched and wireframed. Development started on 22 September through to 26 September. The video was made on x date for submission, and the promo video available on the home page was done on x date. The app was then pushed into product and beta tested for two days. The ReadMe file as well as the code is available for viewing on my <a href="https://github.com/TokiLoshi/cs50-final-project" target="_blank">GitHub</a> as this is an opensourced project.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>The Why Now</h3>
              <p class="card-text">Unless something serious is done about climate change soon the future will be grim. We are already starting to feel the impacts with mega droughts, superstorms, and swealtering summer heatwaves such as the one the UK has just experienced, where it melted the tarmac. Covid19 gave nature a break, and we were able to see just how much our behaviour impacts the world. But behaviour iss hard to change and it took us a pandemic to see that. </p>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>  
</div>
{% endblock %}