{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<form action="/about" method="get">
  <div class="container p-3 shadow rounded-3 grey">
    <h2 class="darkBlue">About Carbon Hero</h2>
    <!--Climate Roadscape Landscape People by Markus Spiske on Pexels https://www.pexels.com/photo/climate-road-landscape-people-2990650/ -->
    <img class="img-fluid rounded-2" src="/static/planetb.jpeg" width="600" alt="Person holding sign saying 'There is NO PlanetB."/>
    </br>
    <div class="card body rounded-2 shadow p-3 border-0 m-2">
      <p> At Carbon Hero, we aim to help you leave behind only the things that make you proud.</p>
      <p>As humans, we must come to terms with our impact on the planet. Most carbon footprint calculators make you feel guilty or ask you to pay money for offsets.</p>
      <p>Not here. At Carbon Hero, we recognize that positive reinforcement makes it easier to continually make smarter and greener choices that are good for the environment, our wallets, and a more connected and resilient community. We need to work together as a team to fight off the worst impacts of climate change.</p>
      <p>Carbon Hero helps you turn small actions into big wins. We designed Carbon Hero to help you monitor your carbon footprint, making it easier to make greener decisions, and get rewarded for them. Carbon Hero tracks how much these greener choices save you financially and in terms of CO2 equivalent. Pick a challenge, then head over to the leaderboard to track your progress or watch the stunning improvements your community is making.</p>
      <button class="btn btn-dark bt-sm mx-auto w-auto m-2 p-3">Get Started Today</button>
    </div>
  </div>
</form>
</div>
<div class="container text-center mt-2">
  <div class="card body rounded-2 shadow grey p-3 border-0">
    <h2>What is Carbon Hero and why was it built?</h2>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto mb-2">
          <div class="d-flex p-2">
            <div class="card shadow rounded-3" style="width: 18rem;">
              <!--Handwritten sand sign texture by Ann H on Pexels https://www.pexels.com/photo/handwritten-sand-sign-texture-11022638/ -->
              <img src="/static/what.jpeg" class="img-fluid mx-auto w-auto rounded-2" alt="Handwritten sand sign texture saying 'WHAT'">
              <div class="card-body">
              <h3>The What</h3>
              <p class="card-text">Carbon Hero is my final project for CS50x. For those unfamiliar, CS50x is an open Harvard course on the introduction to the intellectual enterprises of computer science and the art of programming, hosted on Edx. The specifications were simple: build something of interest to solve a real-life problem that could positively impact your community or even change the world.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-2">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
            <!--Icebergs by Guillaume Falco on Pexels https://www.pexels.com/photo/icebergs-2229887/-->
            <img src="/static/icebergs.jpeg" width="600" alt="icebergs floating in the ocean" class="img-fluid rounded-2 mx-auto w-auto">
              <div class="card-body">
              <h3>The Why</h3>
              <p class="card-text">One of the greatest threats facing humanity is climate change. If we work together we can overcome it. One of the greatest threats facing humanity is climate change. If we work together, we can overcome it. Carbon Hero makes it easy and fun to make greener decisions and introduces a hint of competition. Most carbon footprint calculators try to shame you into changing your behavior; Carbon Hero takes your current CO2 footprint as a benchmark. Once you know your stats, every improvement is a feel-good win.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-2">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
            <!--Green and White Line illustrations by Markus Spiske on Pexels https://www.pexels.com/photo/green-and-white-line-illustration-225769/-->
            <img src="/static/code.jpeg" width="600" alt="Green and White Line illustrations on a Macbook Computer" class="img-fluid rounded-2 mx-auto w-auto">
              <div class="card-body">
                <h3>The How</h3>
                <p class="card-text">Carbon Hero is a Flask web app wireframed on Figma, built with Python and JavaScript. The database was developed on SQLite and then migrated to PostgreSQL during the deployment to Heroku. Each page uses HTML with Jinja templating. The design utilizes Twitter's Bootstrap for CSS and JavaScript, along with some custom CSS. I use <a href=https://www.climatiq.io/docs  target="_blank">Climatiq</a> API for all CO2 estimations and have noted in comments when it was necessary to make assumptions for the sake of simplicity. Use of sources, tutorials, or knowledge platforms, e.g., the Environmental Protection Agency (EPA), is referenced in the source code and README.md file in my GitHub repository for this project. All images are from Free to use libraries on Pexels and the photographers have been credited in the code comments and README.md file.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-2">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
            <!--Person Holding Hour Glass by Samer Daboul on Pexels https://www.pexels.com/photo/person-holding-hour-glass-1209999/-->
            <img src="/static/time.jpeg" width="600" alt="Person Holding Hour Glass" class="img-fluid rounded-2 mx-auto w-auto">
            <div class="card-body">
              <h3>The Why Now</h3>
              <p class="card-text">Scientists continue to warn us of a grim future unless we act now to combat the worst impacts of climate change. We already feel the effects of megadroughts, superstorms, and the sweltering summer heatwave of 2022 in the Northern Hemisphere. It was hot enough to melt one of the airports' tarmacs in the UK. The Covid19 pandemic gave nature a break, and we witnessed how much our behavior impacts the world. If we want the impacts of our actions to be positive, we need to start now. Will you join me?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-2">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
            <!--Person's left hand with Purple Manicure by cottonbro on Pexels https://www.pexels.com/photo/persons-left-hand-with-purple-manicure-4629634/-->
            <img src="/static/highfive.jpeg" width="600" alt="Person's left hand with Purple Manicure" class="img-fluid rounded-2">
              <div class="card-body">
                <h3>The Who</h3>
                <p class="card-text">Carbon Hero is coded by Bianca Silva, a half-German, half-Portuguese, South African living in San Francisco. I have chosen to use the pronoun "we" throughout this web application because so much relies on the work others have done, from APIs and databases to the climate scientists and researchers who make their work easy to use.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</div>
{% endblock %}