{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<!-- Forest by Tyler Lastovich from Pexels https://www.pexels.com/photo/green-leafed-trees-572688/ */ -->

<form action="/account" method="get" class="account-background">
  <div class="container-fluid mt-2 p-2">
    <img class="img-fluid w-50 justify-content-center mb-2 rounded-2 shadow-3" src="/static/forest.jpg" >
    <div class="card float-right p-2 border-0 shadow-sm rounded">
      <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th class="mt-3 mb-2">Icon</th>
                <th >Name</th>
                <th>Leaderboard Name</th>
                <th>Email Address</th>
                <th>Date you Joined Carbon Tracker</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>  
                  <i class="fa-solid fa-{{icon}} fa-3x"></i>
                </td>
                  <td>  
                    {{name}}
                  </td>
                  <td>  
                    {{leaderboardname}}
                  </td>
                  <td>  
                    {{emailaddy}}
                  </td>
                  <td>  
                    {{datejoined}}
                  </td>
                </tr>
            </tbody>
          </table>
          </form>
         
            <form action="/account" method="post" class="float-right">   
            <button action="/changepassword" method="post" type="submit" id="password" name="password" class="btn btn-danger btn-sm float-right m-2">Change Password</button>
          </form>
        </form>
      <form action="/leaderboardicon" method="post" class="float-right">   
        <button action="/history" method="post" type="submit" id="name" name="name" class="btn btn-dark btn-sm float-right m-2 mx-auto">Choose leaderboard icon</button>  
      </form>
      <form action="/changename" method="post" class="float-right">   
        <button action="/changename" method="post" type="submit" id="name" name="name" class="btn btn-dark btn-sm float-right m-2">Change Leaderboard Name</button>  
      </form>
        </form>
              </div>
            </div>
          <!-- <form action="/changepassword" method="post">
          <button name="password" class="btn btn-danger mb-2" type="submit">Change Password</button>
          </form>
          <form action="/changename" method="post">
          <button name="leaderboardname" class="btn btn-dark mb-2" type="submit">Change Leaderboard Name</button>
        </form> -->
        <!-- </div>
      </div> -->
    </div>
      {% endblock %}
    </form> 
  </div>