{% extends "layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}
<form action="/calculator" method="post">
  <div>
    <div class="container p-3 shadow rounded-3 orange">
      <h2 class="whiteText">You can only improve what you measure</h2>
      <div class="card body rounded-2 shadow p-3 border-0 m-2 justify-content-center mx-auto w-75">
        <h4>Let's cacluate your current carbon footprint</h4>
        <h5>How it works</h5>
        <!--glove beside plastic spoon by by Artem Podrez from Pexels https://www.pexels.com/photo/glove-beside-plastic-spoons-7048060/ -->
        <img class="img-fluid rounded-2 mx-auto" src="/static/plastic_world.jpg" width="300" alt="green island in the ocean"/>
        <p>This questionnaire uses the Climatiq API to calculate an estimate of your carbon footprint based on emission factors (how quickly greenhouse gases (GHGs) are released into the atmosphere) from 5 key areas of your life. </p>
        <ol class="calculator">
          <li class="justify-content-lg-start">Your household electricity consumption</li>
          <li>Your modes of transport=</li>
          <li>And lastly, your diet and shopping habits</li>
        </ol>
        <p>We've chosen the Climatiq API for the most accurate and industry standard estimations.</p>
        <p>Once you're done we'll calculate your results, it should take just a few seconds...</p>
        <p>On your results page, we'll show you how your footprint compares and we will provide you with quick and easy options to reduce your carbon footprint that will also increase your savings, improve your life and make you proud.</p>
      </div>
      </br>
      <div class="card body rounded-2 shadow p-3 border-0 m-2 justify-content-center mx-auto w-75">
        <p>Page 1 of 3</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
        </div>
        </br>
        <h4>Your household</h4>  
        <!--Assorted color walls by Jessica Bryant from Pexels https://www.pexels.com/photo/assorted-color-wall-paint-house-photo-1370704/ -->
        <img class="img-fluid rounded-2 mx-auto" src="/static/houses.jpg" width="300" alt="colourful houses in a row in San Francisco"/>
        <div class="mb-3 container-fluid align-content-start">
              <label for="building" class="form-label"><b>What kind of building do you live in?</b></label>
                  <select name="building" class="form-select" aria-label="Default select example">
                    <option selected>Please select the type of building you live in</option>
                    <option value="apartment">Multi-family_residential or an apartment</option>
                    <option value="single_family">Single-family resdiential</option>
                    <option value="commercial">Commerical</option>
                  </select>
              <label for="state" name="state" class="form-label"><b>Which State do you live in?:</b></label>
                <select name="state" class="form-select" aria-label="Default select example">
                  <option selected value="defalut">Please select your State</option>
                  <option value="Alabama">Alabama (AL)</option>
                  <option value="Alaska">Alaska (AKGD)</option>
                  <option value="Arizona">Arizona (AZ)</option>
                  <option value="Arkansas">Arkansas (AR)</option>
                  <option value="California">California (CA)</option>
                  <option value="Colorado">Colorado (CO)</option>
                  <option value="Connecticut">Connecticut (CT)</option>
                  <option value="DC">District of Columbia (DC)</option>
                  <option value="Delaware">Delaware (DE)</option>
                  <option value="Florida">Florida (FL)</option>
                  <option value="Georgia">Georgia (GA)</option>
                  <option value="Hawaii">Hawaii (HI)</option>
                  <option value="Iowa">Iowa (IA)</option>
                  <option value="Idaho">Idaho (ID</option>
                  <option value="Arkansas">Illinois (IL)</option>
                  <option value="Kentucky">Kentucky (KY)</option>
                  <option value="Arkansas">Kansas (KS)</option>
                  <option value="Louisiana">Louisiana (LA)</option>
                  <option value="Massachusetts">Massachusetts (MA)</option>
                  <option value="Maryland">Maryland (MD)</option>
                  <option value="Maine">Maine (ME)</option>
                  <option value="Michigan">Michigan (MI)</option>
                  <option value="Minnesota">Minnesota (MN)</option>
                  <option value="Missouri">Missouri (MO)</option>
                  <option value="Mississippi">Mississippi (MS)</option>
                  <option value="Arkansas">Montana (MT)</option>
                  <option value="North_Carolilna">North_Carolilna (NC)</option>
                  <option value="Arkansas">North_Dakota (ND)</option>
                  <option value="Arkansas">Nebraska (NE)</option>
                  <option value="New_England">New_England (NE)</option>
                  <option value="New_Hampshire">New_Hampshire (NH)</option>
                  <option value="New_Jersey">New_Jersey "NJ"</option>
                  <option value="New_Mexico">New_Mexico (NM)</option>
                  <option value="Nevada">Nevada (NV)</option>
                  <option value="New_York">New_York (NY)</option>
                  <option value="Ohio">Ohio (OH)</option>
                  <option value="Oklahoma">Oklahoma (OK)</option>
                  <option value="Oregon">Oregon (OR)</option>
                  <option value="Pennsylvania">Pennsylvania (PA)</option>
                  <option value="Peurto_Rico">Peurto Rico (PR)</option>
                  <option value="Rhode_Island">Rhode Island (RI)</option>
                  <option value="South_Carolina">South Carolina (SC)</option>
                  <option value=">South_Dakota">South Dakota (SD)</option>
                  <option value="Tennessee">Tennessee (TN)</option>
                  <option value="Texas">Texas (TX)</option>
                  <option value="Utah">Utah (UT)</option>
                  <option value="Virginia">Virginia (VA)</option>
                  <option value="Vermont">Vermont (VT)</option>
                  <option value="Washington">Washington (WA)</option>
                  <option value="West_Virginia">West Virginia (WV)</option>
                  <option value="Wisconsin">Wisconsin (WI)</option>
                  <option value="Wyoming">Wyoming (WY)</option>
                </select>
              <label for="household_occupants" class="form-label"><b>How many people in your household</b></label>
                <select name="household_occupants" class="form-select" aria-label="Default select example">
                  <option selected value="defalut">Please select how many people in your household</option>
                  <option value="1">Just Me</option>
                  <option value="2">Just the 2 of us</option>
                  <option value="3">Three of us</option>
                  <option value="4">Four of us</option>
                  <option value="5">Five +</option>
                </select>
              <label for="rubbish" class="form-label"><b>How often do you have to take out the trash?</b></label>
                <select name="rubbish" class="form-select" aria-label="Default select example">
                  <option selected value="default">How many full gallon bags do you throw out per week?</option>
                  <option value="1">1 - 2 full gallon bags</option>
                  <option value="2">2 - 3 full gallon bags</option>
                  <option value="3">3 - 4 full gallon bags</option>
                  <option value="4">4 - 5 full gallon bags</option>
                  <option value="5">5 - 6 full gallon bags</option>
                  <option value="5">6+ full gallon bags</option>
                </select>
            <label for="recycling" class="form-label"><b>How much for your rubbish do you recycle?</b></label>
              <select name="recycling" class="form-select" aria-label="Default select example">
                <option selected value="defalut">How much of your trash is recycling?</option>
                <option value="1">10% - 20% recycling</option>
                <option value="2">20% - 30% recycling</option>
                <option value="3">30% - 40% recycling</option>
                <option value="4">40% - 50% recycling</option>
                <option value="5">50% - 60% recycling</option>
                <option value="6">60% - 70% recycling</option>
                <option value="7">70% - 80% recycling</option>
                <option value="8">More than 80% recycling</option>
            </select>
            <label for="utilitybill" class="form-label"><b>What is your average monthly utility bill?</b></label>
            <input type="text" name="utilitybill" class="form-control mx-auto w-auto" id="utilitybill" placeholder="$ utility bill on average">
            <label for="drycleaning" class="form-label"><b>How much does your household spend on drycleaning?</b></label>
            <input type="text" name="drycleaning" class="form-control mx-auto w-auto" id="name" placeholder="$">
            <button type="submit" class="btn btn-dark m-2 p-3 col-8">Save my answers</button>
            </div>
    </div>
    </div>
  </div>
</form>
{% endblock %}