{% extends "layout.html" %}

{% block title %}
    Challenges
{% endblock %}

{% block main %}
<form action="/challenges" method="get">
  <div class="container p-3 shadow rounded-3">
    <h2 class="whiteText">Are you up for the challenge</h2>
    <!--Person Walking in the desert by Walid Ahmaad from Pexels https://www.pexels.com/photo/person-walking-on-desert-847400/ -->
    <img class="img-fluid rounded-2" src="/static/person_walking_desert.jpg" width="600" alt="green island in the ocean"/>
    </br>
    <div class="card body rounded-2 shadow p-3 border-0 m-2">
<p>At Carbon Tracker our goal is to help you leave behind only the things you're proud of</p>
<p>Humans are naturally a bit competitive, so we thought we'd make this fun</p>
<p>Check out how your challenges are doing and compete with your community to increase your $ savings and make the world a better place</p>
<p><b>Add a challenge below or update your progress</b></p>
</div>
</div>
</form>
</div>
</br>
<div class="container text-center">
<div class="card body rounded-2 shadow orange p-3 border-0">
<div class="container text-center">
  <div class="row">
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>Go Flexitarian</h3>
              <p class="card-text">Meat consumption can have a huge impact on the environment. Are you up for the challenge to go vegetarian for at least one day of the week for a month?</p>
              <p><b>Estimated carbon savings:</b> x tonnes</p>
              <p><b>Estimated $ savings:</b> $100</p>
              <p><b>Max points available:</b> 150 points</p>
              <p><b>Duration:</b> 30 days</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>Change out your lightbulbs</h3>
              <p class="card-text">Meat consumption can have a huge impact on the environment. Are you up for the challenge to go vegetarian for at least one day of the week for a month?</p>
              <p><b>Estimated carbon savings:</b> x tonnes</p>
              <p><b>Estimated $ savings:</b> $100</p>
              <p><b>Max points available:</b> 150 points</p>
              <p><b>Duration:</b> 30 days</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>Reduce you plastic</h3>
              <p class="card-text">Microfibers are worrying scientists. And it's having a huge impact on our waste. Are you up for the challenge of swapping out one item you normally get as plastic and sub it out for a more sustainable alternative?</p>
              <p><b>Estimated carbon savings:</b> x tonnes</p>
              <p><b>Estimated $ savings:</b> $100</p>
              <p><b>Max points available:</b> 100 points</p>
              <p><b>Duration:</b> 2 weeks</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>Change your commute</h3>
              <p class="card-text">Changing up your commute can be refreshing, good for the mind, body, wallet and carbon footprint. Are you up for the challenge to pick one place you normally drive to and either walk or bike there instead?</p>
              <p><b>Estimated carbon savings:</b> x tonnes</p>
              <p><b>Estimated $ savings:</b> $100</p>
              <p><b>Max points available:</b> 150 points</p>
              <p><b>Duration:</b> 1 week</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>Save water</h3>
              <p class="card-text">Droughts are bad. Are you up for the challenge to reduce your typical shower times by 30 seconds once a week for a month?</p>
              <p><b>Estimated carbon savings:</b> x tonnes</p>
              <p><b>Estimated $ savings:</b> $100</p>
              <p><b>Max points available:</b> 150 points</p>
              <p><b>Duration:</b> 150 points</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <h3>Sustainable fashion</h3>
              <p class="card-text">Some materials have a higher carbon footprint than others. Are you up for the challenge to check the materials before you buy?</p>
              <p><b>Estimated carbon savings:</b> x tonnes</p>
              <p><b>Estimated $ savings:</b> $100</p>
              <p><b>Max points available:</b> 150 points</p>
              <p><b>Duration:</b> Challenge complete the next time you go shopping and make a better decision</p>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}