{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/changepassword" method="get">
    <div class="container shadow rounded-3 orange mb-2">
      <h2 class="whiteText">Security is key! Let's update your password</h2>
      <!-- Areal photography of island at daytime by Sindre Strøm from Pexels https://www.pexels.com/photo/trees-and-soil-during-day-288093/ -->
      <img class="img-fluid rounded-2" src="/static/island_at_daytime.jpg" width="400" alt="green island in the ocean"/>
      <div class="card body rounded-2 shadow p-1 mb-2 border-0 justify-content-center mx-auto w-75">
        <h4>Change Password</h4>
        <div class="mb-3 mt-2 pb-2 container-fluid align-content-start">
      </div>
            <input type="password" name="password" autofocus class="form-control mx-auto w-auto" id="password" placeholder="*****" >
            <label for="confirm password" class="form-label"> Confirm Password:</label>
            <input type="password" name="confirmpassword" autofocus class="form-control mx-auto w-auto" id="confirmpassword" placeholder="*****">
    </br>
            <button class="btn btn-dark mb-2">Register</button>
  </div>
</div>
</br>
</form>
{% endblock %}