{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<form action="/history" method="get">
  <div class="container-fluid mt-2 p-2">
    <div class="card float-right p-2 border-0 shadow-sm rounded">
      <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th class="mt-3 mb-2">Starting Carbon Footprint</th>
                <th class="mt-3 mb-2">Current Carbon Footprint</th>
                <th>Accumulated Savings ($)</th>
                <th>Accumulated Carbon Savings (Tons)</th>
                <th>Number of Challenges Startd</th>
                <th>Number of Challenges Completed</th>
                <th>Number of Trophies collected</th>
                <th>Current position in the leaderboard</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>  
                    Starting Carbon Footprint goes here 
                  </td>
                  <td>  
                    Current Carbon Footprint goes here 
                  </td>
                  <td>  
                    Accumulated $ savings goes here 
                  <td>  
                    Accumulated Carbon Savings goes here 
                  </td>
                  <td>  
                    Number of Challenges Started goes here 
                  </td>
                  <td>  
                    Number of Challenges Completed goes here 
                  </td>
                  <td>  
                    Number of Trophies collected goes here
                  </td>
                  <td>  
                    Current Position on the leaderboard goes here 
                  </td>
                </tr>
            </tbody>
          </table>
          </form>
            <form action="/tracker" method="post" class="float-right">   
            <button action="/account" method="post" type="submit" id="account" name="account" class="btn btn-dark btn-xs float-right m-2">Let's save more</button>
          </form>
        </form>
              </div>
            </div>
          <!-- <form action="/changepassword" method="post">
          <button name="password" class="btn btn-danger mb-2" type="submit">Change Password</button>
          </form>
          <form action="/changename" method="post">
          <button name="leaderboardname" class="btn btn-dark mb-2" type="submit">Change Leaderboard Name</button>
        </form> -->
        <!-- </div>
      </div> -->
    </div>
      {% endblock %}
    </form> 