{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/home" method="get">
<div class="container grey p-3 shadow rounded-3 grey">
  <h2 class="darkBlue">This carbon footprint tracker turns you into a hero</h2>
  <!--Green Island in the Ocean by Mikhail Nilov from Pexels https://www.pexels.com/photo/green-island-in-ocean-8412432/ -->
  <img class="img-fluid rounded-2 justify-content-center w-50" src="/static/green_island.jpg" width="600" alt="green island in the ocean"/>
</form>
  </br>
  <form action="/register" method="get">
    <p class="mt-2">We can only fight the worst impacts of climate change if we work together. Scientists keep issuing grim warnings about our future, given our current trajectory. First, we looked to policymakers to guide us, but bureaucracy moves slowly. Then we looked to corporate America, but the status quo profit margins were too comfortable for them to make significant changes. Right now, we need a superhero to come and save us. We see that hero in you. Carbon Hero makes it easy and fun to make greener choices and rewards you for every green choice. A community of heroes is waiting to welcome you to the leaderboard. Let's do this.</p>
    <button action="/register" method="post" type="submit" class="btn btn-dark m-2 p-3">Get Started</button>
  </form>
</div>
</br>
<div class="container p-2 mb-2 shadow rounded-3">
    <!-- https://www.w3schools.com/html/html5_video.asp -->
    <!-- <div class="modal-dialog modal-lg"><video width="320" height="240" controls muted><source src="https://www.youtube.com/watch?v=Slsc3tkoS_I" type="video/mp4"></video></div> -->
    <img class="img-fluid mx-auto rounded-2 w-auto m-2 p-2" src="/static/video_preview.jpeg"/>
  </div>
</div>
<div class="container p-2 shadow rounded-3 grey mt-2">
  <h3 class="darkBlue">We help you turn small green choices into major wins!</h3>
  <div class="row justify-content-center">
    <div class="col-auto mb-2">
      <div class="d-flex">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/results.png" width="600" alt="card showing we have the results of the user's carbon footprint" class="img-fluid rounded-2">
          <div class="card-body">
            <p class="card-text">Our carbon footprint calculator, powered by Climatiq's API, will estimate your current carbon footprint and provide you with a detailed breakdown in seconds.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="d-flex">
        <div class="card shadow rounded-3" style="width: 18rem;">
            <img src="/static/track_your_progress.png" width="600" alt="cards showing user's progress for carbon savings and monetary savings" class="img-fluid rounded-2">
            <div class="card-body">
              <p class="card-text">Carbon Hero aims to make it fun, easy, and engaging to make greener decisions that reduce your carbon footprint, save you money and help you build a more resilient community. Nervous about our future? We were too, until we saw dedicated carbon heroes like you.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="d-flex">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/challenges.png" width="600" alt="card showing challenges" class="img-fluid rounded-2">
          <div class="card-body">
            <p class="card-text">Up for a challenge? You make a pledge based on how you want to challenge yourself. Each challenge you accept and complete in the app earns you points. Log a completed challenge in the app and watch your points and savings accumulate, with instant updates on the leaderboard.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
    <div class="d-flex">
      <div class="card shadow rounded-3" style="width: 18rem;">
        
        <img src="/static/leaderboard.png" width="600" alt="card showing leaderboard" class="img-fluid rounded-2">
        <div class="card-body">
          <p class="card-text">Unlike fossil fuels, your footprint is not set in stone. We use your initial carbon footprint calculation as a benchmark for your future choices and will never pressure you into purchasing offsets. We help you visualize how much carbon your greener decisions are saving you and how much money they save you.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto mb-2">
    <div class="d-flex">
      <div class="card shadow rounded-3" style="width: 18rem;">
        <img src="/static/customize.png" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
        <div class="card-body">
          <p class="card-text">Whether you pledge to change out one incandescent bulb for an LED bulb or go meatless for one day of the week, you are committing to positively impacting your life, savings, and community. No action is too small, and no effort goes unappreciated or unrewarded. We'll be dealing out kudos and cheering you on every step of the way. Have some fun with your leaderboard name and icons, these are also not set in stone, and you can change them whenever you like.</p>
        </div>
      </div>
    </div>
  </div>
  <form action="/register" method="get">
    <button action="/register" method="post" type="submit" class="btn btn-dark m-2 p-3">Get Started</button>
  </form>
</div>
</div>  
</div>
{% endblock %}