{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/home" method="get">
<div class="container grey p-3 shadow rounded-3">
  <h2 class="orangeText">This carbon footprint tracker turns you into a hero</h2>
  <!--Green Island in the Ocean by Mikhail Nilov from Pexels https://www.pexels.com/photo/green-island-in-ocean-8412432/ -->
  <img class="img-fluid rounded-2" src="/static/green_island.jpg" width="600" alt="green island in the ocean"/>
</form>
  </br>
  <form action="/register" method="get">
    <button action="/register" method="post" type="submit" class="btn btn-dark m-2 p-3">Get Started</button>
  </form>
</div>
</br>
<div class="container text-center">
  <div class="card body rounded-2 shadow dark-blue">
    <!-- https://www.w3schools.com/html/html5_video.asp -->
    <p class="orangeText">Box for Video</p>
    <div class="modal-dialog modal-lg"><video width="320" height="240" controls muted><source src="https://www.youtube.com/watch?v=Slsc3tkoS_I" type="video/mp4"></video></div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
          <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
    <div class="d-flex p-2">
      <div class="card shadow rounded-3" style="width: 18rem;">
        <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex p-2">
      <div class="card shadow rounded-3" style="width: 18rem;">
        <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex p-2">
      <div class="card shadow rounded-3" style="width: 18rem;">
        <img src="/static/green_island.jpg" width="600" alt="green island in the ocean" class="img-fluid rounded-2">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  
</div>
{% endblock %}