{% extends "layout.html" %}

{% block title %}
    Iconcolor
{% endblock %}

{% block main %}
<form action="/iconcolor" method="post">
  <div class="card body rounded-2 shadow p-3 border-0 m-2 justify-content-center mx-auto w-75">
    <h4>Great Choice!</h4> 
    <h5>How about adding some color to your icon</h5>
    <p>Pick a colour to see how it looks</p>
    <tr>
      <td><i class="fa-solid fa-otter fa-4x"></i></td>
      <td><i class="fa-solid fa-hippo fa-green fa-4x"></i></td>
      </i></td>
    </tr>
    <tr>
      <td><button action="/leaderboard" type="submit" name="hippo" class="btn btn-outline-primary btn-sm">Green</button></td>
      <td><button type="button" name="otter" value="otter" class="btn btn-outline-primary btn-sm">Yellow</button></td>
      <td><button type="button" name="dogshield" class="btn btn-outline-primary btn-sm">Blue</button></td>
    </tr>
      <i class="{{displayicon}}"></i>
  </div>
</form>
  {% endblock %}
