{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
<form action="/leaderboardicon" method="post">
  <div class="card body rounded-2 shadow p-3 border-0 m-2 justify-content-center mx-auto w-75">
    <h4>It's always more fun with icons</h4> 
    <h5>These are all the ones you can choose from</h5>
  </form>
    <div class="row justify-content-center">
      <div class="col-auto mb-2">
        <div class="d-flex">
          <div class="card shadow rounded-3" style="width: 8rem;">
            <div class="card-body">
              <form action="/leaderboardicon" action="/post">
                <td>
                  <i class="fa-solid fa-hippo fa-4x"></i>
                  <button type="submit" name="animal" value="hippo" class="btn btn-dark btn-md m-2">Hippo</button>
                </td>
              </form>
            </div>
          </div>
        </div>
        </div>
        <div class="col-auto mb-2">
          <div class="d-flex">
            <div class="card shadow rounded-3" style="width: 8rem;">
              <div class="card-body">
                <form action="/leaderboardicon" action="/post">
                  <td>
                    <i class="fa-solid fa-otter fa-4x"></i>
                    <button type="submit" name="animal" value="otter" class="btn btn-dark btn-md m-2">Otter</button>
                  </td>
                </form>
              </div>
            </div>
          </div>
        </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-shield-dog fa-4x"></i>
                      <button type="submit" name="animal" value="shield-dog" class="btn btn-dark btn-md m-2">Shield dog</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-shield-cat fa-4x"></i>
                      <button type="submit" name="animal" value="shield-cat" class="btn btn-dark btn-md m-2">Shield cat</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-cow fa-4x"></i>
                      <button type="submit" name="animal" value="cow" class="btn btn-dark btn-md m-2">Cow</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-feather fa-4x"></i>
                      <button type="submit" name="animal" value="feather" class="btn btn-dark btn-md m-2">Feather</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-fish fa-4x"></i>
                      <button type="submit" name="animal" value="fish" class="btn btn-dark btn-md m-2">Fish</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-dragon fa-4x"></i>
                      <button type="submit" name="animal" value="dragon" class="btn btn-dark btn-md m-2">Dragon</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-spider fa-4x"></i>
                      <button type="submit" name="animal" value="spider" class="btn btn-dark btn-md m-2">Spider</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-kiwi-bird fa-4x"></i>  
                      <button type="submit" name="animal" value="kiwi-bird" class="btn btn-dark btn-md m-2">Kiwi Bird</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-shrimp fa-4x"></i>
                      <button type="submit" name="animal" value="shrimp" class="btn btn-dark btn-md m-2">Shrimp</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-mosquito fa-4x"></i>
                      <button type="submit" name="animal" value="mosquito" class="btn btn-dark btn-md m-2">Mosquito</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-locust fa-4x"></i>
                      <button type="submit" name="animal" value="locust" class="btn btn-dark btn-md m-2">Locust</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-horse fa-4x"></i>
                      <button type="submit" name="animal" value="horse" class="btn btn-dark btn-md m-2">Horse</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-horse-head fa-4x"></i>
                      <button type="submit" name="animal" value="horse-head" class="btn btn-dark btn-md m-2">Horse Head</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-frog fa-4x"></i>
                      <button type="submit" name="animal" value="frog" class="btn btn-dark btn-md m-2">Frog</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 8rem;">
                <div class="card-body">
                  <form action="/leaderboardicon" action="/post">
                    <td>
                      <i class="fa-solid fa-frog fa-4x"></i>
                      <button type="submit" name="animal" value="frog" class="btn btn-dark btn-md m-2">Frog</button>
                    </td>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>

  </div>
  </div>
</div>


 
      <caption>Icons from font awesome</caption>
</form>
          
          
          <i class="fa-solid fa-fish-fins fa-4x"></i>
          <i class="fa-solid fa-feather-pointed fa-4x"></i>
          <i class="fa-solid fa-dove fa-4x"></i>
          <i class="fa-solid fa-crow fa-4x"></i>
          <i class="fa-solid fa-cat fa-4x"></i>
        <i class="fa-solid fa-bugs fa-4x"></i>
         <i class="fa-solid fa-seedling fa-4x"></i>
        <i class="fa-solid fa-pepper-hot fa-4x"></i>

<form action="/iconcolor" method="post" name="honey" value="honey"> 
  <input type="submit" name="value" value="value" id="value" class="form-control mx-auto w-auto">
  <!-- <button type="submit" action="/iconcolor" id="pepper" method="post" name="pepper" class="btn btn-outline-light btn-sm">Choose Hot Pepper</button> -->
</form>
{% endblock %}

