{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
  <div class="container shadow rounded-3 grey pb-1 mb-2">
    <h2 class="darkBlue">We can't wait to get you started</h2>
    <!-- Areal photography of island at daytime by Sindre Strøm from Pexels https://www.pexels.com/photo/trees-and-soil-during-day-288093/ -->
    <img class="img-fluid rounded-2 mb-2" src="/static/island_at_daytime.jpg" width="250" alt="green island in the ocean"/>
    <div class="card body rounded-2 shadow p-1 mb-3 border-0 justify-content-center mx-auto w-75">
      <h4>Register</h4>
      <div class="mb-3 pb-2 container-fluid align-content-start">
        <div class="card mb-2 body rounded-2 mt-3 shadow border-0 justify-content-center mx-auto w-75">
          <div class="mb-2 container-fluid align-content-start">   

              <p><i>We're going to ask you to pick a leaderboardname. Try out the random Leaderboard Name Generator for ideas</i></p>

            <img class="img-fluid rounded-2" autofocus="True" src="/static/cat-close.jpg" width="100" alt="green island in the ocean"/>
            </br>
            {% block javascript %}
            <button type="button" class="btn btn-dark m-1" data-toggle="tooltip" data-placement="top" title="Think of this as your username. This is the name other members will see when you're on the leaderboard. Don't stress to much about it though, you can always update it later.">
              <i class="fa-solid fa-circle-question" data-toggle="tooltip" data-placement="top" title="Think of this as your username. This is the name other members will see when you're on the leaderboard. Don't stress to much about it though, you can always update it later."></i>
                </button>
            <form action="/register" method="post">
              <div>
                <input type="text" class="copy-selector m-2 p-2" id="randomLeaderboardName" value={{randomname}} mx-auto w-100>
              </div>
                <button type="reset" class="btn btn-light mb-2" onclick="copyName()"><i class="fa-regular darkBlue fa-copy fa-2x white"></i></button>
                <div><p class="output" id="output"></p></div>
              <button name="goback" class="btn btn-primary">Try Again</button>
            </form>
          </div>
        </div>
        <label for="leaderboardname" class="form-label pt-2">Choose a leaderboard name:</label>
          <input type="text" name="leaderboardname" autofocus class="form-control mx-auto w-auto pt-1" id="leaderboardname" placeholder="e.g CarbonCrusher">
        <label for="name" class="form-label">Enter your Name:</label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="First Name">
        <label for="email" class="form-label">Enter your email address:</label>
          <input type="email" name="email" class="form-control mx-auto w-auto" id="email" placeholder="name@example.com">
        <label for="exampleFormControlInput1" class="form-label">Password (8 characters):</label>
          <input type="password" name="password" autofocus class="form-control mx-auto w-auto" id="password" placeholder="*****">
        <label for="confirm password" class="form-label"> Confirm Password:</label>
          <input type="password" name="confirmpassword" autofocus class="form-control mx-auto w-auto" id="confirmpassword" placeholder="*****">
        </br>
          <button class="btn btn-dark mb-2">Register</button>
      </div>
    </div>
    {% endblock %}
  </div>
  <script>
    // This is the same as what we did for the accounts page
    function copyName() {
    // Get the text using Element By Id
    var newName = document.getElementById("randomLeaderboardName");
    // Select the text field with the name in it
    newName.select();
    newName.setSelectionRange(0, 99999); 
    // Copy the text for the user
    navigator.clipboard.writeText(newName.value);
    // Alert the user that the text has been copied:
    // Used this to learn how to update the innerHTML https://www.w3schools.com/jsref/prop_html_innerhtml.asp
    document.getElementById("output").innerHTML = "Copied! Go ahead and paste it in the field below so we can make it your new leaderboarname."
    
  }
  // Bootstrap Tooltips https://getbootstrap.com/docs/4.0/components/tooltips
  $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  </script>

</form>
{% endblock %}