{% extends "layout.html" %}

{% block title %}
    trackerelectricity
{% endblock %}

{% block main %}
<form action="/trackerelectricity" method="post">
  <div class="container p-3 shadow rounded-3 orange">
    <h2 class="whiteText">You inspire us</h2>
    <!--Reach for the stars by Designecologist from Pexels https://www.pexels.com/photo/reach-for-the-and-blue-moon-neon-signages-1510659/ -->
      <!--Easy ideas on reducing one's carbon footprint https://www.futurelearn.com/info/blog/how-to-reduce-your-carbon-footprint-tips-->
    <img class="img-fluid rounded-2" src="/static/reach.jpg" width="300" alt="green island in the ocean"/>
    </br>
    <div class="card text-center mt-2">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/trackerelectricity">Electricity and Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackercommunity">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackershopping">Shopping and Dining</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackertransport">Transport and Travel</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Log an activity to start wracking up points</h5>
        <div class="container text-center mb-3">
          <div class="container-fluid text-center mx-auto">
            <div class="row">
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>💡</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I reduced my energy usage this month:</b></h5>
                        <p>This is awesome! Not only have you saved money, but the planet thanks you too. Electricity from fossil fuels is one of the greatest contributors to carbon emissions.</p>
                        <p>When you got started you were spending {{kwh}} kWh each month. How much energy did you use this month?</p>
                        <input type="number" name="reduced_utility_bill" class="form-control mx-auto w-auto mb-2" id="reduced_utility_bill" placeholder="kWh" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>🥦</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I composted more at home:</b></h5>
                        <p>If you have a garden we bet it will be happy! This makes it easier for recology services to manage waste better. More benefits about composting.</p>
                        <p>Tell us how many more times you composted than usual so we can give you kudos</p>
                        <input type="number" name="composting" class="form-control mx-auto w-auto mb-2" id="composting" placeholder="How many times?" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>🌱</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I switched to an energy provider offering green tariffs:</b></h5>
                        <p>Getting your electricity from more renewable sources rather than fossil fuels is a huge win!</p>
                        <p>Let us know which tariff you chose so we can give you kudos</p>
                        <input type="text" name="green_tariff" class="form-control mx-auto w-auto mb-2" id="green_tariff" placeholder="Which one?">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>☀️</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I installed solar panels on my roof:</b></h5>
                        <p>Solid investment! Getting your electricity renewable energy like the sun helps reduce your carbon, and saves money!</p> 
                        <p>Which ones did you get?</p>
                        <input type="text" name="solar_panels" class="form-control mx-auto w-auto mb-2" id="solar_panels" placeholder="Which ones?">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>💧</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I had a shorter shower and saved water:</b></h5>
                        <p class="card-text">Great! Shorter showers can help reduce energy bills as you need to heat less water, it also helps your community if you're in an area prone to drought. How much shorter was your shower than usual?</p>
                        <input type="number" name="short_shower" class="form-control mx-auto w-auto mb-2" id="short_shower" placeholder="minutes" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>🕯</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I swapped out incandescent light bulbs for LED light bulbs:</b></h5>
                        <!--LEDs last longer https://www.energy.gov/energysaver/led-lighting-->
                        <p class="card-text">Electricity is a major source of cO2 emissions, LED lights are more efficient, lasting 25 x longer and help save you money. Double points! How many light bulbs did you change out?</p>
                        <input type="number" name="saved_electricity" class="form-control mx-auto w-auto mb-2" id="saved_electricity" placeholder="How many lightbulbs?" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>♳</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I didn't use any one use plastic products today:</b></h5>
                        <p class="card-text">We're huge fans! Plastic is hard to break down, and microplastics in our water are a big problem for sea life, and it gets into our drinking water. How many plastic items do you think you avoided today?</p>
                        <input type="number" name="less_plastic" class="form-control mx-auto w-auto mb-2" id="less_plastic" placeholder="How much less?" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>🗑</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I needed to throw out less garbage:</b></h5>
                        <p class="card-text">When you started you reported throwing out {{garbage}} gallons each week. Any reduction in waste is a huge win! Tell us much you threw out this week so we can give you kudos.</p>
                        <input type="number" name="less_waste" class="form-control mx-auto w-auto mb-2" id="less_waste" placeholder="How much?" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>♻️</h3>
                      <form action="/trackerelectricity" method="post">
                        <h5 class="card-title"><b>I recycled more of my garbage:</b></h5>
                        <p class="card-text">When you started you were recycling {{recycling}}% of your garbage how much did you recyle this week?</p>
                        <input type="number" name="more_recycling" class="form-control mx-auto w-auto mb-2" id="more_recycling" placeholder="How much?" min="0">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
</div>
</div>
</div>
</div>
</form>
</form>
{% endblock %}