{% extends "layout.html" %}

{% block title %}
    Trackercommunity
{% endblock %}

{% block main %}
<form action="/trackercommunity" method="get">
  <div class="container p-3 shadow rounded-3 grey">
    <h2 class="darkBlue">You inspire us</h2>
    <!--Reach for the stars by Designecologist from Pexels https://www.pexels.com/photo/reach-for-the-and-blue-moon-neon-signages-1510659/ -->
    <!--Easy ideas on reducing one's carbon footprint https://www.futurelearn.com/info/blog/how-to-reduce-your-carbon-footprint-tips-->
    <img class="img-fluid rounded-2" src="/static/reach.jpg" width="300" alt="green island in the ocean"/>
    </br>
    <div class="card text-center mt-2">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/trackercommunity">Community</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackershopping">Shopping and Dining</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackertransport">Transport and Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackerelectricity">Electricity and Home</a>
          </li>
        </ul>
      </div>
    </form>
<div class="card-body">
  <h5 class="card-title">Log an activity to start wracking up points</h5>
    <div class="container text-center mb-3">
      <div class="container-fluid text-center mx-auto">
        <div class="row justify-content-center">
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 18rem;">
                <div class="card-body">
                  <h3>👯‍♂️</h3>
                  <form action="/trackercommunity" method="post">
                    <h5 class="card-title"><b>I helped a friend get on carbon tracker:</b></h5>
                    <p>We appreciate you! It's always better with friends. How many new friends can we thank you for?</p>
                    <input type="number" name="added_friend" class="form-control mx-auto w-auto mb-2" id="added_friend" placeholder="How many?" min="0">
                    <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                  </form>     
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 18rem;">
                <div class="card-body">
                  <h3>🌳</h3>
                  <form action="/trackercommunity" method="post">
                    <h5 class="card-title"><b>I planted trees:</b></h5>
                    <p>Thanks for making the world a greener place for all of us, and helping to improve the air quality and generate more carbon sinks.</p>
                    <input type="number" name="planted_trees" class="form-control mx-auto w-auto mb-2" id="planted_trees" placeholder="How many" min="0">
                    <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                  </form>     
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 18rem;">
                <div class="card-body">
                  <h3>🪴</h3>
                  <form action="/trackercommunity" method="post">
                    <h5 class="card-title"><b>Helped out at a local community garden:</b></h5>
                    <p>We appreciate you! Your time is so valuable, investing some of it in your community, ensuring they have access to healthy, local foods, will pay off. You're helping build a brighter future, hows that for food for thought? Double points for you!</p>
                    <input type="number" name="community_garden" class="form-control mx-auto w-auto mb-2" id="community_garden" placeholder="How many times?" min="0">
                    <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                  </form>     
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-2">
            <div class="d-flex">
              <div class="card shadow rounded-3" style="width: 18rem;">
                <div class="card-body">
                  <h3>🎓</h3>
                  <form action="/trackercommunity" method="post">
                    <h5 class="card-title"><b>Introduced someone to the concepts of carbon footprints, and sustainability:</b></h5>
                    <p>Each one, teach one! You showed up as a mentor and we appreciate you! By sharing knowledge you empowered someone to build a more sustainable life, which impacts us all. We thank you!</p>
                    <input type="number" name="mentor" class="form-control mx-auto w-auto mb-2" id="mentor" placeholder="How many times?" min="0">
                    <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                  </form>     
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      </form>
{% endblock %}


 