{% extends "layout.html" %}

{% block title %}
    tracker
{% endblock %}

{% block main %}
<form action="/tracker" method="post">
  <div class="container p-3 shadow rounded-3 orange">
    <h2 class="whiteText">You inspire us</h2>
    <!--Reach for the stars by Designecologist from Pexels https://www.pexels.com/photo/reach-for-the-and-blue-moon-neon-signages-1510659/ -->
    <img class="img-fluid rounded-2" src="/static/reach.jpg" width="300" alt="green island in the ocean"/>
    </br>
    <div class="card text-center mt-2">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/trackershopping">Shopping and Dining</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackertransport">Transport and Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackerelectricity">Electricity and Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active border-bottom" href="/trackercommunity">Community</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Log something you did and get points for it</h5>
        <div class="container text-center mb-3">
          <div class="container-fluid text-center mx-auto">
            <div class="row">
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>👚</h3>
                      <form action="/trackershopping" method="post">
                        <h5 class="card-title"><b>I bought vintage clothes instead of new clothes:</b></h5>
                        <p>Stylish and sustainable, it looks good on you!</p>
                        <p>Let us know what you got so we can give you some kudos and some points</p>
                        <input type="text" name="vintage_clothes" class="form-control mx-auto w-auto mb-2" id="vintage_clothes" placeholder="What did you get?">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h1>🧣</h1>
                      <h5 class="card-title"><b>I made sure my new clothes were made from high-quality sustainable materials:</b></h5>
                      <p class="card-text">Amazing! They more likely to last longer, which makes your purchase a better investment.</p>
                      <form action="/trackershopping" method="post">
                        <input type="number" name="sustainable_clothes" class="form-control mx-auto w-auto mb-2" id="sustainable_clothes" placeholder="What did you get?">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>🛒</h3>
                      <form action="/trackershopping" method="post">
                        <h5 class="card-title"><b>I used paper bags at the grocery store:</b></h5>
                        <p>Paper bags are compostable, this is a great alternative to plastic! How many plastic bags did you save by using paper bags?</p>
                        <input type="number" name="paperbags" class="form-control mx-auto w-auto mb-2" id="paperbags" placeholder="How many?">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-2">
                <div class="d-flex">
                  <div class="card shadow rounded-3" style="width: 18rem;">
                    <div class="card-body">
                      <h3>🎒</h3>
                      <form action="/trackershopping" method="post">
                        <h5 class="card-title"><b>I brought my own reusable bags to the grocery store:</b></h5>
                        <p>Excellent for the environment and an efficient way to shop! Double points! How many plastic bags do you think you saved?</p>
                        <input type="number" name="own_bags" class="form-control mx-auto w-auto mb-2" id="own_bags" placeholder="How many?">
                        <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
        <div class="col-auto mb-2">
          <div class="d-flex">
            <div class="card shadow rounded-3" style="width: 18rem;">
              <div class="card-body">
                <h3>🚰 </h3>
                <form action="/trackershopping" method="post">
                  <h5 class="card-title"><b>I used my own water bottle, instead of buying water:</b></h5>
                  <p>Amazing, you just made the oceans a cleaner place and this smart choice save you money. Tell us how much you normally spend on bottled water if you forget your own water bottle, so we can give you points and savings.</p>
                  <input type="number" name="water_bottle" class="form-control mx-auto w-auto mb-2" id="water_bottle" placeholder="$">
                  <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
                </form>     
              </div>
            </div>
          </div>
        </div>
      <div class="col-auto mb-2">
        <div class="d-flex">
          <div class="card shadow rounded-3" style="width: 18rem;">
            <div class="card-body">
              <h3>🥑</h3>
              <form action="/trackershopping" method="post">
                <h5 class="card-title"><b>My groceries were mostly local this week:</b></h5>
                <p>You supported local farmers and small business owners. Shopping locally also shows the stores there is a demand for it, and can impact how they choose inventory in the future, closer suppliers means fewer carbon emissions from transport.</p>
                <input type="number" name="local_groceries" class="form-control mx-auto w-auto mb-2" id="local_groceries" placeholder="What percentage?">
                <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
              </form>     
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-2">
        <div class="d-flex">
          <div class="card shadow rounded-3" style="width: 18rem;">
            <div class="card-body">
              <h3>🐮</h3>
              <form action="/trackershopping" method="post">
                <h5 class="card-title"><b>I went flexitarian:</b></h5>
                <p>Even one day with less meat can make a big differences. Thank you for being flexible with your diet.</p>
                <p>When you started with carbon tracker you were eating {values} each week, how many times was it this week?</p>
                <input type="number" name="beef" class="form-control mx-auto w-auto" id="beef" placeholder="Beef..." required>
               <input type="number" name="chicken" class="form-control mx-auto w-auto" id="chicken" placeholder="Chicken..." required>
                <input type="number" name="pork" class="form-control mx-auto w-auto" id="pork" placeholder="Pork..." required>
                <button type="submit" class="btn btn-dark btn-md m-2">Track</button>
              </form>     
            </div>
          </div>
        </div>
      </div>
  
      </div>
      </div>
      </form>
{% endblock %}