{% extends "layout.html" %}

{% block title %}
    Tracker
{% endblock %}

{% block main %}
<form action="/tracker" method="post">
  <div class="container p-3 shadow rounded-3 orange">
    <h2 class="whiteText">You inspire us</h2>
    <!--Reach for the stars by Designecologist from Pexels https://www.pexels.com/photo/reach-for-the-and-blue-moon-neon-signages-1510659/ -->
    <img class="img-fluid rounded-2" src="/static/reach.jpg" width="300" alt="green island in the ocean"/>
    </br>      
    <div class="card body rounded-2 shadow p-3 border-0 m-2 justify-content-center mx-auto w-75">
      <h4>Log an activity and start racking up points</h4>
      <!--Easy ideas on reducing one's carbon footprint https://www.futurelearn.com/info/blog/how-to-reduce-your-carbon-footprint-tips-->
      
      <h4>Today I:</h4>
      <div class="container text-center mb-3 alight-content-start">
<div class="container-fluid text-center mx-auto">
  <div class="row">
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
            <div class="card-body">
              <h1>🚲 </h1>
            <h5 class="card-title"><b>I chose to walk or bike, not drive:</b></h5>
            <p class="card-text">Good for the planet and you got some exercise, double points for that!</p>
            <form action="/tracker" method="post">
            <input type="number" name="transport_bike_walk" class="form-control mx-auto w-auto mb-2" id="transport_bike_walk" placeholder="How far?">
            </form>
            <a href="#" class="btn btn-primary">Track</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex p-2">
        <div class="card shadow rounded-3" style="width: 18rem;">
            <div class="card-body">
              <h3>💡</h3>
              <form action="/tracker" method="post">
              <h5 class="card-title"><b>I switched to an energy provider offering green tariffs:</b></h5>
              <p>Getting your electricity from more renewable sources rather than fossil fuels is a huge win!</p>
              <input type="text" name="green_tarif" class="form-control mx-auto w-auto mb-2" id="green_tariff" placeholder="Which provider?">
            </form>
            <a href="#" class="btn btn-primary">Track</a>
            </form>     
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
              <div class="card-body">
                <h3>🚗</h3>
                <form action="/tracker" method="post">
                <h5 class="card-title"><b>I carpooled:</b></h5>
                <p>That saves electricy, gas, and money. What a win! How long was the commute?</p>
                <input type="number" name="carpool" class="form-control mx-auto w-auto mb-2" id="carpool" placeholder="Miles">
              </form>
              <a href="#" class="btn btn-primary">Track</a>
              </form>     
              </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
              <div class="card-body">
                <h3>👚</h3>
                <h5 class="card-title"><b>I bought vintage clothes instead of new clothes:</b></h5>
                <p>Stylish and sustainable, it looks good on you!</p>
                <form action="/tracker" method="post">
                  <input type="text" name="vintage" class="form-control mx-auto w-auto mb-2" id="vintage" placeholder="What did you get?">
                </form>
              <a href="#" class="btn btn-primary">Track</a>
              </form>     
              </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-6">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
              <div class="card-body">
                <h3>🧣</h3>
                <h5 class="card-title"><b>I made sure my new clothes were made from sustainable materials</b></h5>
                <form action="/tracker" method="post">
                  <label for="name" class="form-label">Which materials did you choose?</label>
                  <input type="text" name="sustainable_materials" class="form-control mx-auto w-auto mb-2" id="sustainable_materials" placeholder="What did you get?">
                </form>
              <a href="#" class="btn btn-primary">Track</a>
              </form>     
              </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex p-2">
          <div class="card shadow rounded-3" style="width: 18rem;">
              <div class="card-body">
                <h3>🛒 </h3>
                <h5 class="card-title"><b>I used paper bags at the grocery store:</b></h5>
                <p>You can recycle them and they're cheaper than plastic! How many bags did you use? We'll count this as plastic bags saved.</p>
                <form action="/tracker" method="post">
                  <input type="number" name="plastic_bags_saved" class="form-control mx-auto w-auto mb-2" id="plastic_bags_saved" placeholder="I used...">
                </form>
              <a href="#" class="btn btn-primary">Track</a>
              </form>     
              </div>
          </div>
        </div>
      </div>
    </div>


        
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">☀️ <b>I installed solar panels on my roof:</b></label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">💧 <b>I had a shorter shower and saved water:</b></label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🕯 <b>I turned off the lights in rooms that weren't being used:</b></label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">♳ <b>I used less plastic:</b></label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">👏 <b>I took my airline up on the offer to offest my carbon:</b></label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🚰 <b>I used my own water bottle, instead of buying water:</b></label>
          <p>Amazing, you just made the oceans a cleaner place and you saved money.</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🌳 <b>I helped plant trees:</b></label>
          <p>Thanks for making the world a greener place for us all.</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">👯‍♂️ <b>I helped a friend get on carbon tracker:</b></label>
          <p>We appreciate you! It's always better with friends.</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">📺 <b>I bought a new appliance for my home and made sure it was energy efficient:</b></label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <button class="btn btn-dark m-2 p-3 col-8">Log</button>
        </form>

        <hr>
        <h4>This Week I:</h4>
        <form action="/tracker" method="post">
          <label for="name" class="form-label">🐮 <b>I went flexitarian:</b></label>
          <p>Even one day with less meat can make a big differences. Thank you for being flexible with your diet.</p>
          <p>When you started with carbon tracker you were eating {} each week, how many times was it this week?</p>
        <input type="number" name="beef" class="form-control mx-auto w-auto" id="beef" placeholder="Beef...">
        <input type="number" name="chicken" class="form-control mx-auto w-auto" id="chicken" placeholder="Chicken...">
        <input type="number" name="pork" class="form-control mx-auto w-auto" id="pork" placeholder="Pork...">
        </form>
        <form action="/tracker" method="post">
          <label for="name" class="form-label">💸 I saved money on my transport:</label>
          <p>Amazing! How much did you save?</p>
        <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You rock! What percentage of your home is now LED?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🗑 I needed to throw out less garbage:</label>
          <p>When you started you were throwing out {{value}} how much did you throw out this week?</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">♻️ I recycled more of my garbage:</label>
          <p>When you started you were recycling {} how much did you recyle this week?</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🥦 I composted more this week:</label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🥑 My groceries were mostly local this week:</label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <button class="btn btn-dark m-2 p-3 col-8">Log</button>
        </form>
        <hr>
        <h4>This Month I:</h4>
        <form action="/calculator" method="post">
          <label for="energybill" class="form-label">💡 <b>I reduced my energy bill:</b></label>
          <p>This is awesome! Not only have you saved money, but the planet thanks you too. Electricity from fossil fuels is one of the greatest contributors to carbon emissions.</p>
          <p>When you got started you were spending {amount} each month. What was your bill this month?</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="Amazing! What is it now?">
        </form>
        <h4>This year I:</h4>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🛫 I took fewer flights this year:</label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">🛩 I took more direct flights:</label>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <label for="name" class="form-label">📺 I spent fewer nights in hotels this year:</label>
          <p>Staying with friends and family, or other alternatives can save a lot of water and emissions.</p>
          <p>When you got started you estimated you were stayin in hotels for {value} nights of the year. What was it this year?</p>
          <input type="text" name="name" class="form-control mx-auto w-auto" id="name" placeholder="You're the best. How many miles did you walk?">
        </form>
        <form action="/leaderboard" method="post">
          <button class="btn btn-dark m-2 p-3 col-8">Log</button>
        </form>
        </div>
      
    </div>
</div>
</div>
</div>
</form>
</form>
{% endblock %}